body{
    margin: 0;
}
main{
    max-width: 1600px;
}
#topHeader {
    background-image: url('assests/Images/bg-image.jpg');
    height: 750px;
    background-repeat: no-repeat;
    position: relative;
}
#topHeader ul{
    margin:0;
    padding: 0;
}

#topHeader nav{
    width: 578px;
    height: 58px;
}
#topHeader nav ul li{
float:left;
display: block;
list-style-type: none;
margin-left:85px;
margin-top:38px;
}

#topHeader nav ul li:first-child{
    margin-left:0;
}
#topHeader nav ul>li>a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    padding: 3px;
}
#topHeader nav ul>li:first-child a{
    border-bottom: 1px solid #fff;
    font-weight: bold;
}
#topHeader nav ul li a:hover{
    border-bottom: 1px solid #fff;
    font-weight: bold;
}

.center {
    margin: auto;
    width: 50%;
  }

  #logoWrapper{
      margin-top:22px !important;
  }

  #headerTitle{
      font-weight: bold;
      text-align: center;
      color:#fff;
      text-transform: uppercase;
      margin-top:172px;
      font-family: Roboto;
      font-style: normal;
      letter-spacing: 4.5px;
      font-size: 64px;
  }

  #headerSubText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    margin-top:20px;
    font-weight: 400;
    width: 410px;
    margin:auto;
    display: block;
    color:#fff;
    line-height: 140%;
  }
  
  .blueButton{
      text-decoration: none;
      color:#fff;
      font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    background-color: #00AFDB;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px 47px;
    position: absolute;
 
    margin-top:30px;
      }
      .center-horizontal{
        left: 50%;
        transform: translate(-50%,0);
      }

      .blueButton:hover{
            transition: 0.8s;
            color:#00AFDB;
            background: #fff;

      }

#headerSocials{
    position: absolute;
    bottom: 112px;
    left: 50%;
    transform: translate(-50%,0);
    margin:0;
    padding: 0;
}

#headerSocials  li{
    margin-left: 30px;
    list-style-type: none;
    float: left;
    margin-left:30px;
}
#headerSocials  li:first-child{
    margin-left: 0px;
}
.circle{
    border-radius: 100%;
    border: 1.5px solid #fff;
    padding: 1px 6.7px;
}
.circleY{
    border-radius: 100%;
    border: 1.5px solid #fff;
    padding: 0.6px 5.6px 3.6px 5.6px;
}
#RappresentBlock{
    width: 1200px;
    position: relative;
    height: 582px;
    margin: auto;
    margin-top: 120px;
}
#RappresentBlock >div{
     width: 50%;
     position: absolute;
}
#RappresentBlock >div:first-child{
    bottom: 112px;
    top: 50%;
    transform: translate(0,-50%);
    margin:0;
    padding: 0;
}
#RappresentBlock >div:last-child{
    right: 0;
    top: 0;
   
}

#secondPageHeader{
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 28px;
display: flex;
align-items: flex-end;
letter-spacing: 1px;
text-transform: uppercase;
margin-top:0;
color: #373737;
}
#secondPageSpan{
    display: block;
    width: 407px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}

#ImplementBlock {
    width: 1200px;
    position: relative;
    height: 582px;
    margin: auto;
    margin-top: 120px;
}
#ImplementBlock >div{
    width: 50%;
    position: absolute;
}
#ImplementBlock >div:first-child{
  
    left: 0;
    top: 0;
}
#ImplementBlock >div:last-child{
   
    bottom: 112px;
    top: 50%;
    transform: translate(0,-50%);
    margin:0;
    right: 0;
    padding: 0;
}
#implementHeader{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 1px;
text-transform: uppercase;

color: #373737;
}
#implementSpan{
    display: block;
    width: 407px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 140%;
    color: #4E4E4E;
}